#titulo{
	font-weight: bold;
	color: black;
	font-family: 'Encode Sans SC', sans-serif;
}

#imagen{
	width: 100%;
}

li{
font-weight: bold;
	color: red;
}

p{
	font-style: italic;
	column-count: 3;
	column-gap: 5px;
}

.divTitulo{
	background: linear-gradient(to bottom, blue, white);
}

.divTitulo2{
	box-shadow: 0 0 5px blue;
	border-radius: 5px;	
}

.subtitulo{		
	font-size: 18.72px;
	font-weight: bold;
}

.subtitulo2{		
	font-size: 16px;
	font-weight: bold;
}

.contenedor-flex{
	border-style: solid;
	width: 600px; 
	height: 600px;
	display: flex;           
	flex-flow: column wrap;            
	align-content: flex-end;
}

.contenedor-flex2{
	border-style: solid;
	width: 600px; 
	height: 600px;
	display: flex;     
	flex-direction: row-reverse;	         
	align-items: center;
	justify-content: center;
}

.contenedor-flex3{
	border-style: solid;	
	height: 200px;
	display: flex;     
	flex-direction: row;	         
	justify-content: space-between;	
}

.caja{
	width: 200px; 
	height: 200px
}

#roja{
	background-color: red;
}

#azul{
	background-color: blue;
}

#verde{
	background-color: green;
}